In [95]:
import pandas as pd
import datetime

In [115]:
date_format = lambda s: pd.datetime.strptime(s,"%d/%m/%Y")
data = pd.read_csv("receitas_1000.csv",  encoding = "utf-8", delimiter=";" , decimal="," , parse_dates=["DAT_EMISSAO","DAT_PAGTO"] , date_parser=date_format) 
data.head()

,COMPETENCIA,CODIGO_BENEFICIARIO,NUM_EMPRESA,FATURAR_CONTRA,DAT_EMISSAO,DAT_PAGTO,COD_CENTRO_CUSTO,NOM_CENTRO_CUSTO,TIPO_ATO,TIPO_COBRANCA,VAL_ATO,VALOR_SALDO,VALOR_PAGO
0,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,176.82,0.0,286.89
1,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
2,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,104.01,NaN,NaN
3,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
4,201407,0025.1978.001866.00-0,-1,Titular,2014-06-10,2014-06-10 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,187.77,0.0,187.77

In [116]:
print(data.dtypes)

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

In [21]:
# Dask
import dask.dataframe
data2 = dask.dataframe.read_csv("receitas_1000.csv",  delimiter=";")

In [22]:
data2.head()

,COMPETENCIA,CODIGO_BENEFICIARIO,NUM_EMPRESA,FATURAR_CONTRA,DAT_EMISSAO,DAT_PAGTO,COD_CENTRO_CUSTO,NOM_CENTRO_CUSTO,TIPO_ATO,TIPO_COBRANCA,VAL_ATO,VALOR_SALDO,VALOR_PAGO
0,201406,0025.1231.035664.00-0,-1,Titular,10/06/2014,04/08/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,"176,82",0,"286,89"
1,201406,0025.1231.035664.00-0,-1,Titular,10/06/2014,04/08/2014,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0,NaN,NaN
2,201406,0025.1231.035664.30-2,-1,Titular,10/06/2014,04/08/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,"104,01",NaN,NaN
3,201406,0025.1231.035664.30-2,-1,Titular,10/06/2014,04/08/2014,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0,NaN,NaN
4,201407,0025.1978.001866.00-0,-1,Titular,10/06/2014,10/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,"187,77",0,"187,77"

In [23]:
data2.dtypes

COMPETENCIA              int64
CODIGO_BENEFICIARIO     object
NUM_EMPRESA              int64
FATURAR_CONTRA          object
DAT_EMISSAO             object
DAT_PAGTO               object
COD_CENTRO_CUSTO       float64
NOM_CENTRO_CUSTO        object
TIPO_ATO                object
TIPO_COBRANCA           object
VAL_ATO                 object
VALOR_SALDO             object
VALOR_PAGO              object
dtype: object

In [170]:
def get_dtype_csv(p_csv, p_delimiter=';' , p_decimal='.', p_date_format=None,  p_date_fields=False, p_compression='infer'):
    
    if p_date_format == None:
        dt_format = None
    else:    
        dt_format = lambda s: pd.datetime.strptime(s, p_date_format)
        # 25/10/2018 => "%d/%m/%Y"

    ds = pd.read_csv(p_csv , encoding  = 'utf-8' , delimiter = p_delimiter , decimal = p_decimal,
                     parse_dates = p_date_fields, date_parser = dt_format, compression = p_compression)
    
    print(ds.dtypes)
    return ds.dtypes

In [171]:
get_dtype_csv("receitas_1000.csv.gz",  p_delimiter=";" , p_decimal="," , 
          p_date_fields=["DAT_EMISSAO","DAT_PAGTO"] , p_date_format="%d/%m/%Y", p_compression = 'gzip')

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

In [173]:
tipos = get_dtype_csv('receitas_1000.csv.gz')

COMPETENCIA              int64
CODIGO_BENEFICIARIO     object
NUM_EMPRESA              int64
FATURAR_CONTRA          object
DAT_EMISSAO             object
DAT_PAGTO               object
COD_CENTRO_CUSTO       float64
NOM_CENTRO_CUSTO        object
TIPO_ATO                object
TIPO_COBRANCA           object
VAL_ATO                 object
VALOR_SALDO             object
VALOR_PAGO              object
dtype: object

In [194]:
tipos['COMPETENCIA']

dtype('int64')

In [218]:
def get_duplicated(p_csv, p_keys=[]):
    ds = pd.read_csv(p_csv, delimiter = ';', nrows=100)
    
    if not p_keys:
        # all columns
        duplic = ds[ds.duplicated()]
        print("Duplicate Rows based on all columns are: ")


    else:
        duplic = ds[ds.duplicated(p_keys)] 
        print("Duplicate Rows based on p_keys columns are: ")

              
    print(duplic)
    
    return duplic

In [221]:
dups = get_duplicated('receitas_1000.csv')

Duplicate Rows based on all columns are:
    COMPETENCIA    CODIGO_BENEFICIARIO  NUM_EMPRESA FATURAR_CONTRA  \
12       201406  0025.1231.035632.00-1           -1        Titular

   DAT_EMISSAO   DAT_PAGTO  COD_CENTRO_CUSTO  NOM_CENTRO_CUSTO    TIPO_ATO  \
12  11/06/2014  09/07/2014               NaN               NaN  SOS UNIMED

   TIPO_COBRANCA VAL_ATO  VALOR_SALDO VALOR_PAGO
12          TAXA    7,77          NaN        NaN

In [222]:
dups = get_duplicated('receitas_1000.csv', ['COMPETENCIA', 'CODIGO_BENEFICIARIO', 'TIPO_ATO'])

Duplicate Rows based on p_keys columns are:
    COMPETENCIA    CODIGO_BENEFICIARIO  NUM_EMPRESA FATURAR_CONTRA  \
12       201406  0025.1231.035632.00-1           -1        Titular
32       201406  0025.1250.035482.00-6           -1        Titular

   DAT_EMISSAO   DAT_PAGTO  COD_CENTRO_CUSTO  NOM_CENTRO_CUSTO    TIPO_ATO  \
12  11/06/2014  09/07/2014               NaN               NaN  SOS UNIMED
32  11/06/2014  26/06/2014               NaN               NaN      USIMED

   TIPO_COBRANCA VAL_ATO  VALOR_SALDO VALOR_PAGO
12          TAXA    7,77          NaN        NaN
32        TAXA 2    4,05          NaN        NaN